TG_BOT_KEY=tg-key

POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=main
POSTGRES_HOST=postgres_test
POSTGRES_PORT=5432

Postgresql__user=user
Postgresql__password=pass
Postgresql__db=main
Postgresql__host=postgres_test
Postgresql__port=5432

ADMIN_ID=123
